<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AbstractFactory.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Adapter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Bridge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Builder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ChainOfResponsibility.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Command.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Composite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Decorator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Facade.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>FactoryMethod.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Flyweight.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Interpreter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Iterator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Mediator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Memento.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Observer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Prototype.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Proxy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>SimpleFactory.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Singleton.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>State.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Strategy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>TemplateMethod.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Visitor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4343A87264CC428000D156D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F443CF07264BAE170068BFF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F443CF16264BD0300068BFF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F443CF24264C1DCA0068BFF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8C04264D217000382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8C0F264D218300382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8C21264E1EE600382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8C2C264E1F3B00382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8C37264E1F6E00382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8C42264E1F9700382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8C4D264E1FC800382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8C58264E1FFF00382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8C63264E202B00382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8C79264E229300382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8C84264E22AE00382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8C8F264E22C900382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8C9A264E22E600382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8CA5264E230300382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8CB0264E232000382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8CBB264E233E00382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8CC6264E235C00382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8CD1264E237500382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49C8CDC264E239A00382C1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
